
.navBar {
  position: fixed;
  background-color: #F2E9E4;
  top: 0px;
  left: 0px;
  right: 0px; 
  height: 70px; 
  display: flex; 
  align-items: center; 
}

.navBar ul {
	display: flex;
  list-style: none; 
  align-items: center; 
  margin-left: 200px; 
}

.navBar li {
  padding: 15px; 
  font-size: 15px; 
}

.navBar a {
  text-decoration: none; 
}

.name {
  display: flex; 
  align-items: center;  
  font-size: 15px; 
  padding: 20px
}

.name a {
  display: inline-block;
  width: 150px; 
  line-height: 1.2; 
}